body {
	overflow-y: auto;
}

.outer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 20px;
	overflow-y: auto;
}

.content {
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	min-width: 24rem;
}

.container {
	border: var(--border);
	backdrop-filter: var(--small-blur);
	border-radius: var(--small-border-radius);
	background-color: var(--background);
	padding: 20px;
	box-sizing: border-box;
	word-wrap: break-word;
}

button[type="submit"] {
	background-color: var(--primary-1);
	border-color: var(--primary-1);
	color: var(--primary-1-text);
}

button[type="submit"]:hover {
	background-color: var(--primary-1-hover);
	border-color: var(--primary-1-hover);
}