body {
	overflow-y: auto;
}

.outer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 20px;
	overflow-y: auto;
}

.content {
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	min-width: 24rem;
}


.container {
	backdrop-filter: var(--small-blur);
	border-radius: var(--small-border-radius);
	border: var(--border);
	background-color: var(--background);
	padding: 20px;
	box-sizing: border-box;
	word-wrap: break-word;
}

.password-requirements {
	list-style: none;
	padding: 0;
	margin: 0;
}

.password-requirements li {
	color: #d9534f;
}

.password-requirements li.valid {
	color: #42a152;
}

.strength-meter {
	height: 8px;
	border-radius: 5px;
	width: 100%;
	background-color: #ddd;
}

.strength-meter span {
	display: block;
	height: 100%;
	width: 0;
	border-radius: 5px;
}

.strength-weak {
	background-color: red;
}

.strength-medium {
	background-color: yellow;
}

.strength-strong {
	background-color: green;
}

.form-check-label {
	font-size: 14px;
}

.requirements {
	display: none;
}

.form-control {
	width: 100%;
}

.invalid-feedback {
	font-size: 0.9rem;
}

.input-group .form-label {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.eye-icon {
	cursor: pointer;
}

button[type="submit"] {
	background-color: var(--primary-1);
	border-color: var(--primary-1);
	color: var(--primary-1-text);
}

button[type="submit"]:hover {
	background-color: var(--primary-1-hover);
	border-color: var(--primary-1-hover);
}