body {
	overflow-y: auto;
}

.outer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	box-sizing: border-box;
	padding: 20px;
	overflow-y: auto;
}

.content {
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
}

.container {
	backdrop-filter: var(--small-blur);
	border: var(--border);
	border-radius: var(--small-border-radius);
	background-color: var(--background);
	padding: 20px;
	box-sizing: border-box;
	word-wrap: break-word;
}

.btn-primary-custom {
	background-color: #000ff06e;
}

.btn-primary-custom:hover {
	background-color: #00087996;
}

.btn-danger-custom {
	background-color: #ff00006e;
}

.btn-danger-custom:hover {
	background-color: #87000096;
}

.btn-success-custom {
	background-color: #00ff006e;
}

.btn-success-custom:hover {
	background-color: #00870096;
}

.form-group>.dropdown.bootstrap-select {
	width: 100% !important;
}

.form-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

.dataTables_info {
	margin-left: 15px;
}

.dataTables_length {
	margin-left: 15px;
}

.dataTables_filter {
	margin-right: 15px;
}

.pagination {
	margin-right: 15px !important;
}

.text-end {
	margin-bottom: 10px;
}

.table-responsive {
	padding-top: 10px;
}